.footerMain {
	width: 100%;
	background-color: rgb(216, 221, 221);
}

.footerContainer {
	padding: 1em;
	margin: 0;
	list-style: none;
	display: flex;
	justify-content: space-evenly;
	width: 100%;
	position: fixed;
	bottom: 250px;
}

.footerCopyright {
	font-size: 1em;
	font-family: 'Yomogi', cursive;
	padding-left: 1em;
}

.footerBarcode {
	font-size: 1em;
	line-height: 2.2;
	font-family: 'Libre Barcode 128', cursive;
}

@media (min-width: 460px) {
	.footerContainer {
		position: fixed;
		bottom: 200px;
	}
}

@media (min-width: 600px) {
	.footerContainer {
		position: relative;
		bottom: 130px;
	}
}

/* Desktop Specific Styling */

@media (min-width: 980px) {
	.footerBarcode {
		font-size: 3em;
		font-family: 'Libre Barcode 128', cursive;
	}

	.footerCopyright {
		line-height: 4;
	}
}

@media (min-width: 1200px) {
	.footerContainer {
		position: relative;
		bottom: 120px;
	}
}

@media (min-width: 1400px) {
	.footerContainer {
		position: relative;
		bottom: 20px;
	}
}
